
body{
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

#header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  flex:1 2 ;
  background-color: rgb(224, 134, 74);
  height: 12%;
}
.left-section{
  display: flex;
  margin-right: 50px;
}
.logo{
  width: 250px;
}
.right-section{
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
}
a{
  color: white;
  font-size: 20px;
  font-weight: 20px;
  letter-spacing: 4px;
  margin-right: 15px;
  text-decoration: none;
}
.current-page{
  color: black;
}
.twitter-nav{
  right: 20px;
  bottom: 300px;
  position: fixed;
}
.social-icon{
  background-color: transparent;
}
.instagram-nav{
  right: 20px;
  bottom: 250px;
  position: fixed;
}
.container {
  height: 100vh; 
}
a:active{
  color:rgb(0,0,0) ;
}
.body{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 8% 20px;
  margin: auto;
}
.first-section {
  background: url(images/Searock-Cookhouse-Interior-Picture-3.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.desc{
  color: white;
  font-size: 200%;
  word-spacing: 9px;
  font-weight: 100;
  letter-spacing: 15px;
  width: 100%;
}
.descs{
  color: white;
  font-size:20px ;
  letter-spacing: 3px;
  line-height: 30px;
} 
.button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  bottom: 50px;
}
.view-menu-button:hover,
.book-table-button{
  background-color:rgb(224, 134, 74);
  color: white;
  border: none;
  padding: 15px 20px;
  font-size: 25px;
  cursor: pointer; 
  transition: opacity 0.15s;
}
.book-table-button{
  margin-right: 100px;
}
.book-table-button:hover,
.view-menu-button{
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 15px 20px;
  font-size: 25px;
  cursor: pointer; 
  transition: opacity 0.15s;
}
.section {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  height:auto; 
  min-height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*about us page*/
.about-us-page{
  padding: 20px 60px;
}
h2{
  justify-content: center;
  width: 100%;
  text-align: center;
  color:rgb(224, 134, 74) ;
  font-size: 35px;
}
.about-desc{
  text-align: justify;
  font-size: 20px;
  line-height: 40px;
}
/*.view-more-button{
  background-color:rgb(224, 134, 74) ;
  border: none;
  padding: 15px 20px;
  font-size: 15px;
}
.view-more-button:hover{
  border-radius: 20px;
  transition: 0.3s;
}*/

/*aboutus2*/
.aboutUs2{
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: top;
  padding: 50px ;
}
.restaurant-content{
  width: 250px;
}
.points{
  color: white;
  font-size: 20px;
}
hr{
  border:1px solid rgb(224, 134, 74) ;
  width: 60px;
}
.point{
  color:rgb(224, 134, 74);
  font-size: 30px;
  font-weight: bold;
}
.point-desc{
  color: white;
  font-size: 15px;
  line-height: 25px;
}
.reservation-content{
  padding: 40px 15%;

}
h1{
  color:rgb(224, 134, 74)  ;
  text-align: center;
  font-size: 40px;
  background-color: transparent;
}
h6{
  text-align: center;
  color: white;
  font-size: 15px;
}
.dataColection{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  column-gap: 25px;
}
.get-data{
  flex :250px;
  margin-bottom: 30px;
}
.lable{
  color: white;
  font-size: 20px;
}
#size,
input{
  border-color: white;
  background-color: white;
  color-scheme: white;
  color: white;
  height: 50px;
  width: 200px;
  cursor: pointer;
}
.choose-time-slot{
color: white;
font-size: 20px;
}
.time-slot{
  display: flex;
  flex-direction: row;
  flex: auto auto auto auto auto;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
}
.slot{
  border:1px solid white;
  text-align: center;
  color: white;
  padding: 5px 30px;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 20px;
  width: 100px;
  cursor: pointer;
}
.is-toggled {
  border:1px solid rgb(224, 134, 74);
  color:rgb(224, 134, 74) ;
}
.reservation-button-div{
  display: flex;
  justify-content: center;
}
.reservation-button{
  width: 130px;
  padding: 10px 10px;
  background-color: rgba(00, 00, 00, 0.5);
  border: none;
  color: white;
}
.submit-button{
  width: 130px;
  padding: 10px 10px;
  background-color: rgb(224, 134, 74);
  border: none;
  color: white;
}
.reservation-button:hover{
  background-color: rgba(224, 134, 74, 0.7);
}
.galleryImage{
  width: 50px;
  height: auto;
}
.Contact-form{
  display: flex;
  flex: 1 1;
  justify-content: center;
  margin-bottom: 20px;
}
.feedback{
  display: inline-block;
  margin-right: 20px;
}
.feedback-Input{
  margin-bottom: 22px;
  border: ridge;
  border-color:rgb(224, 134, 74) ;
  background-color: transparent;
  color-scheme: white;
  color: black;
  height: 40px;
  width: 200px;
  cursor: pointer;
}
textarea{
  border: ridge;
  border-color:rgb(224, 134, 74) ;
  height: 180px;
  width:200px ;
  background-color: transparent;
  color: white;
}
.invalid{
  border: red;
  margin-bottom: 20px;
  border: ridge;
  background-color: transparent;
  color-scheme: white;
  color: white;
  height: 50px;
  width: 200px;
  cursor: pointer;
}
pre{
  color:rgb(224, 134, 74) ;
  font-size: 15px;
}